.productListSection {
  width: 100%;
  border-radius: 6px;
}

.productControls {
  display: flex;
  height: 35px;
  background-color: var(--color-primary);
  align-items: center;
  color: white;
  padding: 0 10px;
  border-radius: 6px 6px 0 0;

  .radioButtonList {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    font-size: 14px;

    label {
      cursor: pointer;
    }

    input {
      position: absolute;
      visibility: hidden;
    }

    .activeRadio {
      position: relative;
      font-weight: 700;
      color: #94d82d;
      margin-left: 10px;

      &::before {
        content: "";
        background-image: url(../../../assets/check.svg);
        background-size: 10px;
        height: 10px;
        width: 10px;
        position: absolute;
        top: 2px;
        left: -12px;
      }
    }
  }

  select {
    border: none;
    padding: 5px;
    font-size: 14px;
    color: var(--color-white);
    background-color: transparent;
  }
}

.productList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-white);
  border-radius: 0 0 6px 6px;

  .noProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-primary);
  }
}
