.product {
  max-width: 1500px;
  background-color: var(--light-gray);
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.filter {
  width: 15%;
  height: auto;
  background-color: var(--color-white);
  border-radius: 6px;
  padding: 8px 12px;
}

.content {
  width: 85%;
  background-color: var(--color-white);
  border-radius: 6px;
}
