.footer {
  .footerLinksSection {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    .footerLinksHeading {
      font-size: 15px;
      margin-bottom: 8px;
    }

    .footerLinksGroup {
      display: flex;
      flex-direction: column;
      min-width: 180px;

      .footerLinksContent {
        li {
          display: flex;
          flex-direction: column;
        }

        a {
          margin-bottom: 6px;
          font-size: 14px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footerLinksSocialContent {
        display: flex;
        gap: 12px;

        li {
          list-style: none;
          font-size: 20px;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-primary-dark);
          border: 2px solid var(--color-primary-dark);
          border-radius: 50%;
          width: 40px;
          height: 40px;
          transition: all 0.3s ease;

          &:hover {
            color: var(--color-white);
            border: 2px solid var(--color-white);
          }
        }
      }
    }
  }

  .copyRightSection {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    padding: 10px 40px;
    text-align: center;
  }
}
